<div local-class="header-wrapper">
  <div local-class="header-block">
    <p>
      <i>choice form</i>
      {{t "services.title"}}
    </p>
    <span>{{t "services.describe"}}</span>
  </div>
</div>
<div local-class="list-wrapper">
  {{#each data as |d|}}
    <div local-class="list-block">
      <div local-class="list-box">
        <div local-class="title">
          {{d.title}}
        </div>
        <div local-class="description">
          {{d.description}}
        </div>

        <div local-class="open-icon">
          <svg viewBox="1023 68 62 62">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
               transform="translate(1024.000000, 69.000000)">
              <use stroke-opacity="0.499886775" stroke="#6633CC" stroke-width="2"></use>
              <polygon fill="#6633CC"
                       points="20 28.3636364 20 31.6363636 28.3636364 31.6363636 28.3636364 40 31.6363636 40 31.6363636 31.6363636 40 31.6363636 40 28.3636364 31.6363636 28.3636364 31.6363636 20 28.3636364 20 28.3636364 28.3636364"></polygon>
            </g>
          </svg>
        </div>
      </div>

      {{#features/features-content}}
        <div local-class="content-wrapper">
          <div local-class="content-block">
            <p>{{{t "services.list-content.title"}}}</p>
            <img src="http://placehold.it/350x150"/>
            <div local-class="simple-list">
              {{#each d.list.simpleList as |simple|}}
                <div local-class="simple-wrapper">
                  <div local-class="simple-block">
                    <svg viewBox="377 1483 32 32">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                         transform="translate(378.000000, 1484.000000)">
                        <path d="M0,14.9999167 C0,23.2699167 6.72909091,29.9999167 15,29.9999167 C23.2709091,29.9999167 30,23.2699167 30,14.9999167 C30,6.72900758 23.2709091,-8.33333343e-05 15,-8.33333343e-05 C6.72909091,-8.33333343e-05 0,6.72900758 0,14.9999167 Z M15,28.7417348 C7.42272727,28.7417348 1.25818182,22.5771894 1.25818182,14.9999167 C1.25818182,7.42173485 7.42272727,1.25718939 15,1.25718939 C22.5772727,1.25718939 28.7418182,7.42173485 28.7418182,14.9999167 C28.7418182,22.5771894 22.5772727,28.7417348 15,28.7417348 Z M23.0942727,9.15955303 L12.4624545,19.5104621 L6.90609091,14.1013712 C6.657,13.859553 6.25881818,13.8650076 6.01609091,14.1140985 C5.77427273,14.3631894 5.77972727,14.7604621 6.02881818,15.0031894 L12.0242727,20.839553 C12.0633636,20.8786439 12.1124545,20.9004621 12.1588182,20.9268258 C12.1815455,20.939553 12.2015455,20.9604621 12.2260909,20.9704621 C12.3015455,21.0013712 12.3824545,21.0177348 12.4624545,21.0177348 C12.5424545,21.0177348 12.6233636,21.0013712 12.6988182,20.9704621 C12.7233636,20.9604621 12.7433636,20.939553 12.7660909,20.9268258 C12.8124545,20.9004621 12.8615455,20.8786439 12.9006364,20.839553 L23.9715455,10.0613712 C24.2206364,9.81864394 24.2260909,9.42137121 23.9833636,9.1722803 C23.7406364,8.92318939 23.3424545,8.91773485 23.0942727,9.15955303 Z"
                              id="Icon" stroke="#FFFFFF" fill="#FFFFFF"></path>
                      </g>
                    </svg>
                    <p>
                    <p>{{simple.title}}</p>
                    <span>{{simple.description}}</span>
                    </p>
                  </div>
                </div>
              {{/each}}
            </div>

            <div local-class="detailed-list">
              {{#each d.list.detailedList as |detailed|}}
                <div local-class="detailed-block">
                  <p>一简入心</p>
                  {{#each detailed.list as |item|}}
                    <li>{{item}}</li>
                  {{/each}}
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      {{/features/features-content}}

    </div>
  {{/each}}
</div>

