<div local-class="header-wrapper">
  <div local-class="header-block">
    <p>
      <i>choice form</i>
      {{t "services.title"}}
    </p>
    <span>{{t "services.describe"}}</span>
  </div>
</div>
<div local-class="list-wrapper">
  {{#each data as |d|}}
    <div local-class="list-block">
      <div local-class="list-box">
        <div local-class="title">
          {{d.title}}
        </div>
        <div local-class="description">
          {{d.description}}
        </div>

        <div local-class="open-icon">
          <svg viewBox="1023 68 62 62">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
               transform="translate(1024.000000, 69.000000)">
              <use stroke-opacity="0.499886775" stroke="#6633CC" stroke-width="2"></use>
              <polygon fill="#6633CC"
                       points="20 28.3636364 20 31.6363636 28.3636364 31.6363636 28.3636364 40 31.6363636 40 31.6363636 31.6363636 40 31.6363636 40 28.3636364 31.6363636 28.3636364 31.6363636 20 28.3636364 20 28.3636364 28.3636364"></polygon>
            </g>
          </svg>
        </div>
      </div>

      {{#features/features-content}}
        <div local-class="content-block">
          <p>{{{t "services.list-content.title"}}}</p>
          <img src="http://placehold.it/350x150"/>
          <div local-class="content-list">
            <div local-class="simple-list">
              {{#each d.list.simpleList as |simple|}}
                <div local-class="simple-block">
                  <div local-class="icon">
                    <svg viewBox="1023 68 62 62">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1024.000000, 69.000000)">
                        <use stroke-opacity="0.499886775" stroke="#6633CC" stroke-width="2"></use>
                        <polygon fill="#6633CC" points="20 28.3636364 20 31.6363636 28.3636364 31.6363636 28.3636364 40 31.6363636 40 31.6363636 31.6363636 40 31.6363636 40 28.3636364 31.6363636 28.3636364 31.6363636 20 28.3636364 20 28.3636364 28.3636364"></polygon>
                      </g>
                    </svg>
                  </div>
                  <div local-class="simple-content">
                    <h4>{{simple.title}}</h4>
                    <span>{{simple.description}}</span>
                  </div>
                </div>
              {{/each}}
            </div>
            <div local-class="detailed-list">
              {{#each d.list.detailedList as |datailed|}}
                <div local-class="detailed-block">
                  <h4>{{datailed.title}}</h4>
                  <ul local-class="detailed-content">
                    {{#each datailed.list as |data|}}
                      <li>{{data}}</li>
                    {{/each}}
                  </ul>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      {{/features/features-content}}

    </div>
  {{/each}}
</div>

