<div class={{styles.background}}>
  <img src={{currentBackground}}/>
</div>

<div class={{styles.wrapper}}>
  <div class="swiper-container {{styles.container}}">
    <div class="swiper-wrapper">
      {{#each examples as |e|}}
        <section class="swiper-slide {{styles.slide}}">
          <h2>{{e.title}}</h2>
          <p>{{e.description}}</p>
          {{link-to "Go To Example" "examples" class=styles.button}}
        </section>
      {{/each}}
    </div>
    <div class={{styles.pagination}}></div>
  </div>
</div>
