<div class={{styles.anchors-wrapper}}>
  <ul class={{styles.anchors}}>
    {{#each examples as |e|}}
      {{#with (concat "#example" e.id) as |anchor|}}
        <li>
          <a href="/examples{{anchor}}" onclick={{action "animateScrolling" anchor}}>
            {{e.title}}
          </a>
        </li>
      {{/with}}
    {{/each}}
  </ul>
</div>

{{#each examples as |e|}}
  <div class={{styles.wrapper}} id="example{{e.id}}">
    <div class={{styles.example}}>
      <secction class={{styles.content}}>
        <div>
          <figure>
            <img src={{e.figure}} title={{e.title}}/>
          </figure>
        </div>
        <div>
          <p>{{e.description}}</p>
        </div>
      </secction>
    </div>
  </div>
{{/each}}
