<ul local-class="anchors">
  {{#each features as |f|}}
    {{#with (concat "#feature" f.id) as |anchor|}}
      <li>
        <a href="/features{{anchor}}" onclick={{action "animateScrolling" anchor}}>
          {{f.title}}
        </a>
      </li>
    {{/with}}
  {{/each}}
</ul>

{{#each features as |f|}}
  <div local-class="wrapper" id="feature{{f.id}}">
    <div local-class="feature">
      <section local-class="content">
        <div>
          <h2>{{f.title}}</h2>
          <p>{{f.description}}</p>
        </div>
        <div>
          <figure>
            <img src={{f.figure}} title={{f.title}}/>
          </figure>
        </div>
      </section>
    </div>
  </div>
{{/each}}
