<div class={{styles.wrapper}}>
  <header class={{styles.optional-heading}}>
    <h2>Services</h2>
    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
  </header>
  <div class="swiper-container {{styles.container}}">
    <div class="swiper-wrapper {{styles.slide-wrapper}}">
      {{#each services as |s|}}
        <section class="swiper-slide {{styles.slide}}">
          <div class={{styles.content}}>
            <h2>{{s.title}}</h2>
            <p>{{s.description}}</p>
          </div>
          <div class={{styles.image}}>
            <img src={{s.image}}>
          </div>
        </section>
      {{/each}}
    </div>
    <div class={{styles.pagination}}></div>
  </div>
</div>
