<div class={{styles.anchors-wrapper}}>
  <ul class={{styles.anchors}}>
    {{#each services as |s|}}
      {{#with (concat "#service" s.id) as |anchor|}}
        <li>
          <a href="/services{{anchor}}" onclick={{action "animateScrolling" anchor}}>
            {{s.title}}
          </a>
        </li>
      {{/with}}
    {{/each}}
  </ul>
</div>

{{#each services as |s|}}
  <div class={{styles.wrapper}} id="service{{s.id}}">
    <div class={{styles.service}}>
      <secction class={{styles.content}}>
        <div>
          <figure>
            <img src={{s.figure}} title={{s.title}}/>
          </figure>
          <p>{{s.description}}</p>
        </div>
        <div>
          <h1>{{s.title}}</h1>
        </div>
      </secction>
    </div>
  </div>
{{/each}}
{{yield}}
