<h1>{{title}}</h1>

<div>
  {{#each employees as |employee|}}
    <section local-class="employee">
      <div local-class="avatar"><img src={{employee.avatar}} title={{employee.name}}/></div>
      <div local-class="name">{{employee.name}}</div>
      <div local-class="title"><strong>{{employee.title}}</strong></div>
      <div local-class="intro">{{employee.intro}}</div>
    </section>
  {{/each}}
</div>
