<header local-class="banner" role="banner">
  <div local-class="wrapper">
    {{link-to "choice form" "index" tagName="h1" local-class="brand"}}

    <nav class={{menuVisibility}}>
      <div local-class="primary" role="menu">
        {{link-to (t "application.primary-menu.features") "features"}}
        {{link-to (t "application.primary-menu.examples") "examples"}}
        {{link-to (t "application.primary-menu.services") "services"}}
        {{link-to (t "application.primary-menu.articles") "index"}}
      </div>

      <div local-class="session" role="menu">
        <a href="/signin">{{t "application.secondary-menu.signin"}}</a>
        <a href="/signup" local-class="signup">{{t "application.secondary-menu.signup"}}</a>
      </div>
    </nav>

    {{ui/hamburger-menu local-class="hamburger-menu" isMenuShown=(mut isMenuShown)}}
  </div>
</header>
