<div local-class="header-wrapper">
  <p>{{t "prices.title"}}</p>
</div>
<div local-class="prices-wrapper">
  <h2>选择决定你的方式</h2>
  <div local-class="prices-list">
    {{#each model.list as |d|}}
      <div local-class="prices-block">
        <div local-class="icon">
          <svg width="3rem" height="3rem" viewBox="0 0 55 55">
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <path d="M27,0 C12.112,0 0,12.113 0,27 C0,41.888 12.112,54 27,54 C41.888,54 54,41.888 54,27 C54,12.113 41.888,0 27,0 Z M27,51.6 C13.436,51.6 2.4,40.565 2.4,27 C2.4,13.436 13.436,2.401 27,2.401 C40.564,2.401 51.6,13.436 51.6,27 C51.6,40.565 40.564,51.6 27,51.6 Z M39.4961,21.6488 L31.7191,20.3618 L28.0541,13.6278 C27.8441,13.2408 27.4391,13.0008 27.0001,13.0008 C26.5601,13.0008 26.1561,13.2408 25.9461,13.6278 L22.2811,20.3618 L14.5041,21.6488 C14.0591,21.7218 13.6931,22.0388 13.5571,22.4678 C13.4201,22.8978 13.5351,23.3678 13.8551,23.6848 L19.7731,29.5488 C20.2441,30.0138 21.0041,30.0118 21.4711,29.5418 C21.9371,29.0708 21.9341,28.3108 21.4631,27.8438 L17.2131,23.6328 L23.2521,22.6328 C23.6161,22.5728 23.9331,22.3478 24.1091,22.0228 L27.0001,16.7118 L29.8911,22.0228 C30.0671,22.3478 30.3841,22.5728 30.7481,22.6328 L36.7871,23.6328 L32.5371,27.8438 C32.2661,28.1138 32.1391,28.4968 32.1951,28.8758 L33.0791,34.7448 L27.5171,32.0918 C27.1901,31.9358 26.8091,31.9358 26.4831,32.0918 L20.9771,34.7178 L21.3681,32.4668 C21.4811,31.8138 21.0441,31.1928 20.3911,31.0798 C19.7331,30.9678 19.1161,31.4048 19.0031,32.0568 L18.2161,36.5948 C18.1401,37.0378 18.3151,37.4848 18.6741,37.7558 C18.8861,37.9178 19.1421,38.0008 19.3981,38.0008 C19.5741,38.0008 19.7511,37.9608 19.9151,37.8828 L27.0001,34.5038 L34.0851,37.8828 C34.4861,38.0748 34.9601,38.0298 35.3151,37.7638 C35.6731,37.5008 35.8541,37.0608 35.7881,36.6218 L34.6591,29.1208 L40.1441,23.6848 C40.4651,23.3678 40.5801,22.8978 40.4431,22.4678 C40.3071,22.0388 39.9401,21.7218 39.4961,21.6488 Z"
                  id="Icon" stroke="none" fill="#6633CC" fill-rule="evenodd"></path>
          </svg>
        </div>
        <h4>{{d.title}}</h4>
        <span>{{d.description}}</span>
        <ul>
          {{#each d.itemList as |item|}}
            <li>{{item}}</li>
          {{/each}}
        </ul>
        <span local-class="money">{{d.price}}</span>
        <button local-class="buy-button">buy</button>
      </div>
    {{/each}}
  </div>
</div>
